@charset "UTF-8";
html {
  /* etiqueta raíz */
  font-size: 62.5%;
  box-sizing: border-box; }

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0; }

.row {
  margin-right: 0;
  margin-left: 0; }

.col-xl-12 {
  padding-right: 0;
  padding-left: 0; }

.colorFondo {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  background-color: #f2f2f2;
  font-size: 16px; }

div p {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Inconsolata', monospace;
  text-align: center;
  margin-left: 10px; }

.bounce {
  animation: bounce;
  animation-duration: 1s;
  animation-iteration-count: 1; }

/* Funciones */
.tSlow, .contenedor-imagen .hardware-img p:hover, .menu-inicio, .menu-inicio .link-active a:after, .menu-inicio li a, .menu-inicio li a:before, .menu-inicio li a:after, .redes-sociales li, .redes-sociales li i {
  transition: all 0.5s ease-in-out; }

.p-right1 {
  padding-right: 1px; }

.p-right2 {
  padding-right: 2px; }

.p-right3 {
  padding-right: 3px; }

.p-right4 {
  padding-right: 4px; }

.p-right5 {
  padding-right: 5px; }

.p-right6 {
  padding-right: 6px; }

.p-right7 {
  padding-right: 7px; }

.p-right8 {
  padding-right: 8px; }

.p-right9 {
  padding-right: 9px; }

.p-right10 {
  padding-right: 10px; }

.menu {
  background-color: #000;
  width: 100%;
  border-bottom: 1px solid transparent; }

.contenedor-imagen .hardware-img p:hover {
  color: #FF063D;
  cursor: pointer;
  font-size: 15px; }

.menu-inicio {
  margin: 0;
  margin-top: 12px;
  text-align: right; }
  .menu-inicio .link-active a {
    color: #FF063D !important; }
    .menu-inicio .link-active a:after {
      width: 100%;
      background-color: #FF063D; }
  .menu-inicio li {
    display: inline-block;
    padding: 0 10px; }
    .menu-inicio li a {
      position: relative;
      text-decoration: none;
      font-size: 16px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.8); }
      .menu-inicio li a:before {
        content: '';
        position: absolute;
        width: 100%;
        background-color: transparent;
        height: 1px; }
      .menu-inicio li a:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0%;
        background-color: transparent;
        height: 1px; }
      .menu-inicio li a:hover {
        text-decoration: none;
        color: #FF063D; }
        .menu-inicio li a:hover:before {
          width: 0%;
          background-color: #FF063D; }
        .menu-inicio li a:hover:after {
          width: 100%;
          background-color: #FF063D; }

.input-group input {
  height: 40px;
  outline: none;
  box-shadow: none;
  font-size: 15px; }

.input-group ::placeholder {
  font-size: 15px; }

.searchBar {
  width: 50% !important;
  margin-right: 300px;
  display: flex; }
  .searchBar .btn-primary {
    background-color: #FF063D !important;
    border-radius: 3px;
    border: none;
    padding: 0 15px; }
  .searchBar .btn-primary:focus {
    color: #fff;
    background-color: none;
    border: 0;
    border-color: #fff;
    outline: none !important;
    box-shadow: none !important; }

.form-control {
  border: 1.5px solid #E3E6ED; }

input.form-control:focus {
  border: solid 1px black;
  background-color: #F7F8FD;
  outline: none;
  outline-width: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }

.btn {
  border-right: 2px solid white;
  padding-right: 40px;
  margin-right: 20px;
  outline: none !important; }

.btn-lg {
  font-size: 4rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  color: white; }

.btn:hover {
  color: #FF063D; }

.btn:focus {
  outline: none;
  box-shadow: none; }

.dropdown-item {
  font-size: 15px; }

.dropdown-item:hover, .dropdown-item:focus {
  color: #fff;
  text-decoration: none;
  background-color: #FF063D; }

.logo {
  width: 30%; }
  .logo img {
    width: 70%; }

.contenedor-imagen {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 50px; }
  .contenedor-imagen .hardware-img {
    height: 100px; }
    .contenedor-imagen .hardware-img li {
      list-style: none; }
      .contenedor-imagen .hardware-img li a {
        text-decoration: none; }
    .contenedor-imagen .hardware-img img {
      width: 50%;
      display: block;
      margin: 0 auto;
      padding-bottom: 5px; }
    .contenedor-imagen .hardware-img .ram {
      align-self: flex-end;
      transform: translateY(10px); }
    .contenedor-imagen .hardware-img p {
      padding-top: 5px;
      font-size: 14px;
      color: #f2f2f2; }

.tumblr:hover {
  opacity: 1; }

.estiloNav {
  font-size: 1em;
  margin: 1em; }

.heightNav {
  height: 7em; }

.logo {
  height: 6em; }

.margenListado {
  margin-right: 2em; }

.redesPadding {
  padding-right: 15px; }

.paddingCarrusel {
  padding-right: 0.3em; }

.backInLeft {
  animation: backInLeft;
  animation-duration: 1s;
  animation-delay: 1.2s; }

h1 {
  margin: 250px 0px;
  font-size: 60px;
  text-align: center; }
  h1 span {
    color: #FF063D;
    border-bottom: 3px solid #FF063D; }

.galeria {
  background-color: #080e05;
  width: 100%;
  display: flex; }
  .galeria .centrarh3 {
    width: 100%;
    display: flex; }
    .galeria .centrarh3 h3 {
      font-size: 40px;
      color: #fff;
      height: 100px;
      text-align: center;
      margin: auto; }
      .galeria .centrarh3 h3 span {
        color: #FF063D;
        border-bottom: 3px solid #FF063D; }

.tumblr {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  width: 20%;
  cursor: pointer;
  opacity: .5; }

.productosInicio {
  width: 70%; }
  .productosInicio .cardGroup {
    display: flex;
    justify-content: center; }
  .productosInicio .card {
    width: 80%;
    margin: 200px 5px;
    padding-top: 20px; }
    .productosInicio .card img {
      width: 40%;
      margin: auto; }
    .productosInicio .card p {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 15px; }
    .productosInicio .card .card:hover {
      box-shadow: 2px 2px 10px #666;
      cursor: pointer;
      transform: scale(1.03); }

.contenedorProductos {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  justify-content: left; }
  .contenedorProductos .titulosProductos {
    width: 30%; }
    .contenedorProductos .titulosProductos h2 {
      font-size: 30px; }
    .contenedorProductos .titulosProductos hr {
      width: 180px;
      height: 10px;
      display: inline-block; }
    .contenedorProductos .titulosProductos h4 {
      margin-top: 20px;
      font-size: 20px;
      color: #FF063D; }
    .contenedorProductos .titulosProductos label {
      display: inline; }
    .contenedorProductos .titulosProductos ul {
      padding-inline-start: 0; }
      .contenedorProductos .titulosProductos ul li {
        list-style: none; }
        .contenedorProductos .titulosProductos ul li a {
          color: #000; }
  .contenedorProductos .imagenesProductos {
    width: 70%; }
    .contenedorProductos .imagenesProductos .card {
      width: 100%;
      margin: 10px 10px; }
      .contenedorProductos .imagenesProductos .card img {
        width: 60%;
        margin: auto;
        padding-top: 10px; }
        .contenedorProductos .imagenesProductos .card img .zoom {
          transition: transform .9s; }
      .contenedorProductos .imagenesProductos .card p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600; }
    .contenedorProductos .imagenesProductos .card:hover {
      box-shadow: 2px 2px 10px #666;
      cursor: pointer;
      transform: scale(1.03); }

.fondoServicios {
  background-image: url(../assets/img/bg-gaming.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  min-height: 700px;
  position: relative; }

.servicios h2 {
  font-size: 70px;
  color: #FF063D;
  margin-top: 40px;
  text-align: left;
  margin-left: 40px; }

.servicios hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #FF063D;
  margin-left: 125px;
  padding: 0;
  width: 10%;
  margin-bottom: 100px; }

.servicios h4 {
  font-size: 20px;
  color: #f2f2f2;
  margin-top: 20px;
  margin-left: 40px;
  text-align: left; }

.servicios h3 {
  font-size: 40px;
  color: #f2f2f2;
  margin-top: 200px;
  margin-left: 40px;
  text-align: left; }

.imagenServicio1 {
  margin: 50px 0;
  margin-left: 40px;
  width: 20%;
  position: absolute;
  z-index: 100;
  opacity: 0.5;
  display: flex;
  justify-content: flex-end; }

.sectionArmado {
  background-color: #f2f2f2;
  position: relative;
  top: 500px;
  min-height: 50vh; }
  .sectionArmado h3 {
    font-size: 35px;
    color: #FF063D;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: 40px;
    text-align: left; }

.imagenesArmado {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  margin-right: 0;
  margin-left: 0;
  width: 100%; }
  .imagenesArmado img {
    width: 90%;
    opacity: 0.9; }
    .imagenesArmado img .zoom {
      transition: transform 1.5s; }

.imgArmado:hover {
  box-shadow: 2px 2px 10px #666;
  transform: scale(1.01);
  opacity: 1; }

.footerServicios {
  overflow: hidden;
  position: relative;
  top: 500px; }

.mainNosotros {
  min-height: 700px;
  height: 1400px; }

.imgNosotros {
  width: 100%;
  min-height: 100px;
  height: 500px;
  margin-bottom: 50px; }

.sectionNosotros {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  margin-bottom: 30px; }
  .sectionNosotros .sectionNosotrosLinks {
    margin-top: 80px; }
    .sectionNosotros .sectionNosotrosLinks .lists {
      list-style: none;
      padding-left: 0; }
      .sectionNosotros .sectionNosotrosLinks .lists .link-active {
        border-bottom: 2px solid #FF063D; }
      .sectionNosotros .sectionNosotrosLinks .lists .link-active a {
        color: #343636;
        font-weight: bold; }
      .sectionNosotros .sectionNosotrosLinks .lists li {
        padding: 12px 0px;
        line-height: 1;
        border-bottom: 1px solid transparent; }
      .sectionNosotros .sectionNosotrosLinks .lists li:hover {
        border-bottom: 2px solid #FF063D; }
      .sectionNosotros .sectionNosotrosLinks .lists li a {
        text-decoration: none;
        color: #343636; }
      .sectionNosotros .sectionNosotrosLinks .lists li a:hover {
        color: #343636;
        font-weight: bold; }
  .sectionNosotros .sectionNosotrosTextos h1 {
    font-size: 52px;
    font-weight: bold;
    color: #424143;
    margin-bottom: 44px;
    margin-top: 75px;
    text-align: left;
    line-height: 1; }
  .sectionNosotros .sectionNosotrosTextos .parrafo {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight: 100;
    text-align: left;
    font-size: 15px;
    margin-bottom: 45px;
    margin-left: 0; }
  .sectionNosotros .sectionNosotrosTextos .cont-vm {
    margin-bottom: 80px;
    padding-left: 32px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-left: 5px solid #FF063D; }
    .sectionNosotros .sectionNosotrosTextos .cont-vm h2 {
      font-size: 31px;
      margin-top: 0;
      margin-bottom: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-wieght: bold;
      color: #424143;
      line-height: 1; }
    .sectionNosotros .sectionNosotrosTextos .cont-vm .parrafo {
      margin-bottom: 10px; }

.footerNosotros {
  top: 500px; }

.form-group {
  margin-bottom: 30px; }
  .form-group input, .form-group textarea {
    width: 100%;
    height: 44px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #dedede;
    font-size: 15px; }
  .form-group textarea {
    height: 100px; }
  .form-group ::placeholder {
    font-size: 15px; }
  .form-group textarea:focus, .form-group input:focus, .form-group input[type]:focus {
    background-color: #fff;
    border-color: #FF063D;
    border: 2px solid #FF063D;
    box-shadow: 0 0;
    outline: 0 none; }

.btn-contact {
  height: 50px;
  width: 262px;
  border-radius: 8px;
  background-color: #FF063D;
  border-color: #FF063D;
  color: #fff;
  font-size: 19px;
  margin-bottom: 50px;
  text-align: center;
  padding-left: 30px; }

.btn-contact:hover {
  color: #fff; }

.footerContacto .cont-vm {
  margin-bottom: 200px; }
  .footerContacto .cont-vm span {
    padding-left: 35px; }
  .footerContacto .cont-vm i {
    color: #FF063D;
    padding-left: 40px;
    font-size: 30px;
    margin-top: 20px;
    margin-right: 15px; }
  .footerContacto .cont-vm strong {
    font-weight: bold; }

.cont-vm2 {
  margin-bottom: 80px;
  padding-left: 32px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-left: 5px solid #FF063D; }
  .cont-vm2 span {
    font-weight: 700; }

footer {
  background-color: #080e05;
  overflow: hidden;
  position: relative; }

.copyright {
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.8); }

.redes-sociales {
  margin-top: 5px;
  margin-right: 30px;
  display: flex;
  justify-content: center; }
  .redes-sociales li {
    display: inline-block;
    position: relative;
    margin: 0 7px;
    width: 30px;
    height: 30px;
    text-align: center;
    transform: rotate(0deg);
    backface-visibility: hidden;
    cursor: pointer; }
    .redes-sociales li i {
      font-size: 22px;
      color: rgba(255, 255, 255, 0.2);
      transform: rotate(0deg) translate -3px, 3px;
      backface-visibility: hidden; }
    .redes-sociales li:hover {
      transform: rotate(45deg);
      background-color: white;
      backface-visibility: hidden; }
      .redes-sociales li:hover i {
        color: #FF063D;
        transform: rotate(-45deg) translate(-3px, 3px); }

@media screen and (max-width: 1200px) {
  .searchBar {
    margin-right: 500px; }
  .sectionGaleria h1 {
    margin: 180px 0;
    font-size: 45px; }
  .galeria .centrarh3 h3 {
    font-size: 35px; }
  .productosInicio .card p {
    font-size: 12px; }
  .imgNosotros {
    height: 300px; }
  .footerContacto {
    top: 400px; } }

@media screen and (max-width: 992px) {
  .menu-inicio li a {
    font-size: 14px; }
  .searchBar {
    display: none; }
  .hardware-img {
    display: none; }
  .contenedor-imagen {
    margin-top: 0;
    display: flex;
    justify-content: flex-start; }
  .col-lg-12 {
    padding-left: 0;
    padding-right: 0; }
  .lista-menu {
    padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0; }
  .btn {
    border: none;
    padding-right: 0px;
    margin-right: 0px;
    padding: 0 0;
    margin-left: 30px; }
  .btn-lg {
    font-size: 3rem; }
  .btn-group-lg > .btn, .btn-lg {
    padding: 0 0; }
  .sectionGaleria h1 {
    margin: 150px 0;
    font-size: 40px; }
  .galeria .centrarh3 h3 {
    margin: auto;
    font-size: 25px; }
  .cardGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px; }
  .productosInicio .card {
    width: 60%;
    margin: 20px 5px;
    padding-top: 20px; }
    .productosInicio .card img {
      width: 40%;
      margin: auto; }
    .productosInicio .card p {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 12px; }
  .contenedorProductos .imagenesProductos .card-group .card-body p {
    font-size: 12px; }
  .sectionArmado h3 {
    font-size: 25px;
    padding-top: 20px; }
  .imgNosotros {
    height: 250px; } }

@media screen and (max-width: 768px) {
  .menu-inicio li a {
    font-size: 12px; }
  .btn-lg {
    font-size: 2.5rem; }
  .sectionGaleria h1 {
    margin: 120px 0;
    font-size: 30px; }
  .galeria .centrarh3 h3 {
    font-size: 12px;
    margin-top: 110px; }
  .galeria .centrarh3 h3 span {
    border-bottom: 2px solid #FF063D; }
  .cardGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px; }
  .productosInicio .card {
    width: 50%;
    margin: 20px 5px;
    padding-top: 20px; }
    .productosInicio .card img {
      width: 50%;
      margin: auto; }
    .productosInicio .card p {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 12px; }
  .contenedorProductos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .contenedorProductos .titulosProductos {
      text-align: center; }
      .contenedorProductos .titulosProductos h2 {
        font-size: 20px; }
      .contenedorProductos .titulosProductos hr {
        width: 130px; }
      .contenedorProductos .titulosProductos h4 {
        font-size: 15px; }
      .contenedorProductos .titulosProductos .marcas {
        display: none; }
  .imagenesProductos {
    width: 100%; }
  .contenedorProductos .imagenesProductos .card-group .card-body p {
    font-size: 11px; }
  .servicios h2 {
    font-size: 50px; }
  .servicios hr {
    margin-bottom: 200px; }
  .servicios h4 {
    font-size: 15px; }
  .servicios h3 {
    font-size: 30px; }
  .sectionArmado h3 {
    font-size: 20px; }
  .imgNosotros {
    height: 200px; }
  .sectionNosotros .sectionNosotrosTextos h1 {
    font-size: 40px;
    margin-bottom: 60px; }
  .sectionNosotros .sectionNosotrosTextos .parrafo {
    font-size: 13px; }
  .sectionNosotros .sectionNosotrosTextos .cont-vm h2 {
    font-size: 28px; }
  .footerNosotros {
    top: 550px; }
  .footerContacto {
    top: 300px; } }

@media screen and (max-width: 576px) {
  .menu-inicio li a {
    font-size: 10px; }
  .sectionGaleria h1 {
    margin: 100px 0;
    font-size: 25px; }
  .galeria .centrarh3 h3 {
    font-size: 10px; }
  .galeria .centrarh3 h3 span {
    border-bottom: 1px solid #FF063D; }
  .productosInicio .card {
    width: 40%;
    margin: 15px 5px;
    padding-top: 15px;
    padding-bot: -50px; }
    .productosInicio .card img {
      width: 50%;
      margin: auto;
      padding-bot: -50px; }
    .productosInicio .card .card-body {
      padding-top: 0; }
    .productosInicio .card .card-body p {
      font-size: 9px;
      padding-top: 0;
      margin: 0; }
  .contenedorProductos .imagenesProductos {
    width: 50%; }
  .imgNosotros {
    height: 180px; }
  .sectionNosotros .sectionNosotrosTextos h1 {
    font-size: 40px;
    margin-bottom: 60px; }
  .sectionNosotros .sectionNosotrosTextos .parrafo {
    font-size: 13px; }
  .sectionNosotros .sectionNosotrosTextos .cont-vm h2 {
    font-size: 28px; }
  .footerNosotros {
    top: 650px; }
  .btn-contact {
    width: 200px;
    margin-left: 0; }
  .footerContacto {
    top: 400px; } }

@media screen and (max-width: 400px) {
  .footerNosotros {
    top: 850px; } }

@media screen and (max-width: 300px) {
  .footerNosotros {
    top: 1200px; } }
