.form-group{
	margin-bottom: 30px;

	input, textarea {
    width: 100%;
    height: 44px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #dedede;
    font-size: 15px;
	}

	textarea{
		height: 100px;
	}

	::placeholder{
        font-size: 15px;
	}

	textarea:focus, input:focus, input[type]:focus {
    background-color: #fff;
    border-color: $base;
    border: 2px solid $base;
    box-shadow: 0 0;
    outline: 0 none;
}
}

	// textarea:focus{
 //    outline-color: none;
 //    outline: none;
 //    box-shadow: 0;






.btn-contact{
	height: 50px;
    width: 262px;
    border-radius: 8px;
    background-color: $base;
    border-color: $base;
    color: #fff;
    font-size: 19px;
    margin-bottom: 50px;
    text-align: center;
    padding-left: 30px;
}

.btn-contact:hover{
	color: #fff;
}

.footerContacto{

    .cont-vm{
    	margin-bottom: 200px;
    
	span{
		
		padding-left: 35px;
	}

	i{
		color: $base;
		padding-left: 40px;
		font-size: 30px;
		margin-top: 20px;
		margin-right: 15px;
	}

	strong{
		font-weight: bold;
	}



}
}

.cont-vm2{
	        margin-bottom: 80px;
	    	padding-left: 32px;
	    	padding-top: 11px;
	    	padding-bottom: 11px;
	    	border-left: 5px solid $base;

	    	span{

	    		font-weight: 700;


}


}