footer {
      
      background-color: #080e05;
      overflow: hidden;
     position: relative;
     

	}






.copyright{
	display: flex;
	justify-content: center;
	color: rgba(255, 255, 255, 0.8);
          }


//  .redes-sociales{
// 	display: flex;
//       justify-content: center;

// 	li{
// 		list-style: none;
// 		display: inline-block;


// 		a{
// 			text-decoratioon: none;
// 			color: #fff;

// 		}
// 	}
// }

.redes-sociales{
	margin-top: 5px;
	margin-right: 30px;
	display: flex;
	justify-content: center;

	li{
		display: inline-block;
		position: relative;
		margin: 0 7px;
		width: 30px;
		height: 30px;
		text-align: center;
		transform: rotate(0deg);
		backface-visibility:hidden;
		cursor: pointer;
		@extend .tSlow;

		i{
			font-size: 22px;
			color: transparentize(white,.8);
			transform: rotate(0deg) translate (-3px, 3px);
			backface-visibility: hidden;
			@extend .tSlow;
		}

		&:hover{
			transform: rotate(45deg);
			background-color: white;
			backface-visibility:hidden;
			i{
				color: $base;
			    transform: rotate(-45deg) translate(-3px, 3px);
			}
		}
	}
}
