.contenedorProductos {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: left;

    .titulosProductos{
    	width: 30%;
    

    h2 {
        font-size: 30px;
    }

    hr {
        width: 180px;
        // justify-content: left;
        height: 10px;
        display: inline-block;
    }

    

    h4 {
        // justify-content: left;
        margin-top: 20px;
        font-size: 20px;
        color: $base;

    }

    label {
    	display: inline;
    }

    

    ul{
      
          padding-inline-start: 0;


    li{
    	list-style: none;

    	a{
    		
    		color: #000;
    	}


      }
  }
}

.imagenesProductos{
	width: 70%;
	// font-family: 'Kufam', cursive;


	// .card-group .card

	.card{
		width: 100%;
		margin: 10px 10px;

	           img{
		            width: 60%;
                    margin: auto;
                    padding-top: 10px;
	
	           .zoom{
				transition: transform .9s;
			}


		}

		p{
			font-family: 'Open Sans', sans-serif;
			font-weight: 600;
		}
	}
    

    .card:hover{
    	box-shadow: 2px 2px 10px #666;
    	cursor: pointer;
    	transform: scale(1.03);
    }


    

}


    
}