.backInLeft {
    animation: backInLeft;
    animation-duration: 1s;
    animation-delay: 1.2s;
}



h1 {
    margin: 250px 0px;
    font-size: 60px;
    text-align: center;


    span {
        color: $base;
        border-bottom: 3px solid $base;

    }
}




.galeria {

    background-color: #080e05;

    width: 100%;

    display: flex;

    .centrarh3 {
        width: 100%;

        display: flex;


        h3 {
            font-size: 40px;
            color: #fff;

            height: 100px;

            text-align: center;
            margin: auto;

            span {
                color: $base;
                border-bottom: 3px solid $base;

            }
        }

    }





}

.tumblr {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    width: 20%;
    cursor: pointer;
    opacity: .5;


}




.row .productosInicio {


    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;



    .card {
        width: 100%;
        margin: 50px 10px;
        padding-top: 20px;
        display: flex;



        img {
            width: 70%;
            margin: auto;


        }

        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .btn-primary {
                background-color: $base;
                border-color: $base;
                padding: 5px 0;
                margin: 0;
            }

            .btn {
                font-family: 'Monserrat', sans-serif;
                margin-right: 0;
                padding-right: 0;

                font-size: 14px;
                font-weight: 100;
                border-radius: 0.75rem;

            }


            .btn:hover {
                background-color: #fff;
                border-color: $base;
                color: $base;

            }

            .btn:active {
                color: #fff;
                background-color: $base;
                border-color: $base;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                outline: $base !important;
                box-shadow: $base !important
            }


        }

        p {
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 12px;
            padding-bottom: 10px;
        }





        .card:hover {
            box-shadow: 2px 2px 10px #666;
            cursor: pointer;
            transform: scale(1.03);


        }


    }



}