@import "fondo.scss";
@import "menu.scss";
@import "section-index.scss";
@import "productos.scss";
@import "servicios.scss";
@import "nosotros.scss";
@import "contacto.scss";
@import "footer.scss";
@import "mediaqueries.scss";


// 

